<!doctype html>

<html>
<head>
    <title>The Institution of Engineers</title>
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet/less" type="text/css" href="/css/style.less">
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/less.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>   
    <script type="text/javascript" src="/js/ie.js"></script>
</head>

<body>
    <div class="noise"></div>
    <header>
      <div class="head-wrap">
        <div class="site-name">
				<a href="/"> <span><em>The</em> Institution <em>of</em> Engineers</span></a>
        </div>
        <div class="nitk">
        <span>NITK Chapter</span>
        </div>
      </div>
    </header>

<div class="page container">
    {{ content }}
</div> <!-- page -->

<div class="footer">
<p>Crafted with love by the members.</p>
</div>

</body>
</html>
