---
layout: default
---

<!-- menu -->
<ul class="icon-menu">
    <li><a href="#upcoming"><i class="icon-calendar"></i><span>Upcoming</span></a></li>
    <li><a href="#blog"><i class="icon-edit"></i><span>Blog</span></a></li>
    <li><a href="/sigs"><i class="icon-sitemap"></i><span>SIGs</span></a></li>
    <li><a href="#projects"><i class="icon-beaker"></i><span>Projects</span></a></li>
    <li class="highlight"><a href="/apply"><i class="icon-certificate"></i><span>Apply</span></a></li>
</ul>
{{ content }}
